/* 
Comentario en CSS

Regla CSS consta de 2 partes 
 1) el selector
 2) bloque de declaraciones: {
  atributo: valor;
  atributo-de-mas-dos-palabras: otro-valor;
}
*/

/* Son mala práctica por que son bloqueantes a la hora de que el navegador lee esta instrucción(el navegador cuando entramos lee todo el 'contenido' y al momento de leer el import se queda ahi hasta termine de leer el contenido de esa hoja para poder seguir leyendo el otro contenido)  */

@import url("otro-hoja.css"); /* la regla import es para colocar los estilos de otra pagina de estilos */

h1 {
  color: orangered;
  background-color: black;
}

/* 
  Links de referencia y documentación
  https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada
  https://www.w3.org/html/logo/
  https://www.w3.org/standards/webdesign/htmlcss.html
  https://www.w3.org/TR/css-2020/
  https://developer.mozilla.org/es/docs/Web/CSS
  https://cssreference.io/
  https://caniuse.com/
  https://codeguide.co/
*/

/* 
Selectores Básicos
  1) Etiquetas - son elementos html
  2) Identificadores - atributo id - #
  3) Clases - atributo class - .
*/

/* p {
  color: midnightblue;
} */

/* Dar estilos con Id se considera un AntiPatrón */
#parrafo-dos {
  background-color: skyblue;
}

/* Dar estilos con clases nos permite reutilizar nuestro código CSS */
.bg-skyblue {
  background-color: skyblue;
}

.bg-steelblue {
  background-color: steelblue;
}

.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
}

.text-white {
  color: white;
}

.hijos-directos > li {         /*tiene que se directo de la clase hijos directos, li es en bloque(se pintan todos) */
  background-color: thistle;
}

.hijos-descendientes b {     /*No importa si no es hijo directo(osea que no esta despues de ul), b es en linea(se pintan todos en un cierto espacio)    */
  background-color: thistle;
}

/* Los selectores de hermanos van a aplicar a los elementos que son hermanos y que estén por debajo del elemento de referencia */
.hermanos-general ~ li { /* como la clase esta en el segundo li(en verano) se marcan los dos hermanos de abajo */
  background-color: thistle;
}

.hermanos-adyacentes + li {  /* la clase esta en el segundo li(verano) y solo se marca el siguiente de abajo */
  background-color: thistle;
}

/* Selectores de atributos */
.selectores-atributos a[href] { /* aplica los estilos a todos los enlaces que tengan el atributo href */
  color: orangered;
}

.selectores-atributos a[target="_blank"] { /*aplica los estilos a todos los enlaces que tengan el atributo target y aparte tenga el valor _blank  */
  font-weight: bold;
}

/* El comodín del * aplica el estilo si contiene el texto en cuestión en cualquier parte, en este caso jonmircha */
.selectores-atributos a[href*="jonmircha"] {
  font-size: 24px;
}

/* El comodín del ^ aplica el estilo si contiene el texto en cuestión al inicio solamente */
.selectores-atributos a[href^="http://"]{
  text-decoration: none; /* que no tengan el subrayado(blog y notas, los demas empiezan con https:// */
}

/* El comodín del $ aplica el estilo si contiene el texto en cuestión al final */
.selectores-atributos a[href$=".com"] {
  background-color: black; /* solamente inicio termina con .com */
}

/* El comodín del ~ aplica el estilo si contiene el texto en cuestión en una lista separada por espacios */
.selectores-atributos a[class~="cursos"] {  
   background-color: midnightblue; /* que exista la clase cursos */
}

/* El comodín del | aplica el estilo si contiene el texto en cuestión en una lista separada por espacios y que despues del texto en cuestión venga un guión medio - */
.selectores-atributos a[class|="menu"] { /* menu tiene que estar seguida del guion, por eso solo esta regla aplica a cursos y a notas, en ahora no aplica porque solo tiene el menu solo */
  font-style: italic; 
}

/* Selector Universal */
* {
  font-family: sans-serif; /* se aplica a todos los elementos del documento html  */
}

.selector-universal * {  /*se aplica a todos los elementos dentro de la clase selector-universal   */
  font-size: 24px;
}

/* 
Pseudoclases - Dan estilos dependiendo del contexto, posición o estado del elemento
https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-classes
*/

.form-pseudoclases *:required { /*todos los elementos del form que sean del tipo required(seria un estado)  */
  border-color: yellow;
}

.form-pseudoclases *:valid { /*cuando llenamos el form, si lo llevamos bien, osea que el form sea valido(por ej el input tipo email tiene que validar q haya una arroba en los textos), el borde se va pintar de verde  */
  border-color: green;
}

.form-pseudoclases *:invalid { /*cumple la misma funcion de arriba pero al reves, cuando el form sea invalido lo pinta de rojo, y ademas trabaja con el required porque es requerido y si no se llena el formulario requerido, el formulario es invalido  */
  border-color: red;
}

.form-pseudoclases *:focus { /*cuando cualquier elemento del formulario tenga el foco de la pagina se cambia el color de fondo */
  background-color: skyblue;
}

.form-pseudoclases *:disabled { /*le doy estilo al elemento que esta desabilitado(en boton de enviar que tiene ek disabled) */
  background-color: pink;
}

.menu-pseudoclases a:visited { /*dentro de la clase menu-pseudoclases hay enlaces, los enlaces tienen un color especifico y cuando los visito me cambia de color a un color medio violeta, con esta propiedad puedo cambiar el color de los enlaces visitados, si ponia solo a:visited este color iba a cambiar en todos los enlaces. Tiene que estar arriba para que no innhabilite el estado hover */
  color: red;
}
/*el hover se puede usar para todos los elementos, para enlaces, para imagenes, para parrafos, etc.Ademas tiene que estar definido al final de estas pseudoclases.
Importa mucho el orden:
:link(es el que pone el color en los enlaces)
:active
:visited
:hover
En la pagina de mozilla developer aparece por orden(el enlace esta mas arriba) */

.menu-pseudoclases a:hover { /*dentro de la clase menu-pseudoclases hay enlaces, cuando pase por esos enlaces con el mouse me va cambiar el color de letra(a naranja)*/
  color: orange;
}




.p-pseudoclases:hover { /*esto seria una prueba de que cualquier elemento puede tener el hover(es cuando el mouse para por el elemento seleccionado) en este caso selecionamos que cuando el mouse pase por la clase pseudoclases el tamaño de la fuente va aumentar  */
  font-size: 20px;
}

#temario-css:target {  /* cuando apreto el boton de la manito para que al temario, el fondo se pinta de ese color. */
  background-color: lightgreen;
}


.lista-pseudoclases li:first-child { /*en la clase lista-pseudoclases ya sabemos que hay una lista, el first-child va aplicar el estilo al primer elemento que tenga el elemento padre(li), en este caso cambia el color de la letra al primer elemento li*/
  color: green;
}

.lista-pseudoclases li:last-child { /*en este caso es para el ultimo elemento li, va a cambiar el color de letra*/
  color: violet;
}

.lista-pseudoclases li:nth-child(3) { /*con nth-child elegimos el elemento al que queremos aplicarle el estilo y le pasamos como argumento un numero que tiene que estar entre parentesis, en este caso al 3er elemento de la lista le cambio el color de la letra */
  color: navy;
}

.lista-pseudoclases li:nth-child(4n) { /*4n significa que de 4 en 4 aplique los estilos, en este caso que el tamaño de la letra sea de 20px */ 
  font-size: 20px;
}

.lista-pseudoclases li:nth-child(3n + 1) { /*con 3n significa que vaya de 3 en 3: se pinta el 3ero, despues el 6to,9no y el 12vo; con el +1 lo que hago empiece en 1, despues va el 4to, despues va el 7mo y despues el 10mo */ 
  font-weight: bold;
}

.lista-pseudoclases li:nth-child(even) { /*even quiere decir pares, osea que el color de fondo de los numeros pares sea de amarillo */
  background-color: yellow;
}

.lista-pseudoclases li:nth-child(odd) { /*odd quiere decir impares, osea que el color de fondo de los numeros imparres sea naranja */
  background-color: orange;
}

.articulo-pseudoclases p:first-of-type { /*aca le estoy diciendo que el estilo se aplique al primer parrafo(osea el primero en su tipo), porque en la clase articulo-pseudoclases el primer elemento no es un p, es un header, pero con el of type me va marcar el primer parrafo que aparezca */
  background-color: pink;
}

.articulo-pseudoclases p:last-of-type { /*aca le decimos que el color de fondo sea violet al ultimo p(al ultimo en su tipo) */
  background-color: violet;
}

.articulo-pseudoclases p:nth-of-type(3) { /*aca le decimos que al tercer p(el tercero en su tipo) le pongamos el estilo fuchsia */
  background-color: fuchsia;
}

.articulo-pseudoclases *:not(p) { /*aca le decimos que le aplique estilos a todos las etiquetas y con el not(p) le decimos que menos a las etiquetas p */
  background-color: beige;
}

/*
Pseudoelementos - Dan estilos a partes específicas de un elemento, se usa el :: para diferenciarlos de las pseudoclases pero tambien se puede usar solo con uno :, pero es una buena practica usarlo con dos para poder diferenciarlos
https://developer.mozilla.org/es/docs/Web/CSS/Pseudoelementos
*/

/*los pseudoelementos after y before nos van a permitir agregar contenido antes o despues de un elemento en particular, la propiedad content en muy importante para estos pseudoelementos*/
.saga-geminis::before {  /*antes de la clase tiene que agregar el contenido(lo que esta en content), en este caso agrega un emoji, con windows 10 apretamos la tecla de la venta mas punto. */
  content: "🤼‍♂️"; 
}

.saga-geminis::after {/*despues de la clase tiene que poner el emoji del signo zodiacal */
  content: "♊";
}

.saga-precio::before { /*antes de la clase tiene que poner el signo en pesos con letra en negrita  */
  content: "$";
  font-weight: bold;
}

.saga-precio::after {/*despues de la clase tiene que poner la palabra USD con negrita  */
  content: "USD";
  font-weight: bold;
}

/*first letter y line aplican para cualquier elemento de bloque(parrafos, divs, encabezados, seccion,article, etc)*/

.p-pseudoelementos::first-letter { /*first-letter hace referencia a la primer letra de la clase de p, en este caso la primera letra de p de esa clase va estar en negrita y con un tamaño de fuente de 32px */
  font-weight: bold;
  font-size: 32px;
}

.p-pseudoelementos::first-line { /*first-line hace referencia a la primera linea de p de esa clase, en este caso el color de la fuente va a ser de coral(si achicamos la pagina se va formar una sola linea, pero si la agrandamos se forman dos o mas lineas, por lo cual si el tamaño de la pagina es menos de 100% se va pintar la linea entera, si ponemos mas de 100% el tamaño se forma mas de dos lineas el cual la primera sola se pinta  */
  color: coral; 
}

.p-pseudoelementos::selection { /*hace referencia a cuando el usuario seleciona el texto(por ejemplo cuando estas copiando el texto de un articulo), en este caso cuando seleccione el texto para poder copiar, en vez de marcarse con el color de letra blanco y el de fondo celeste, se marcaria con el color de letra en greenyellow y con el color de fondo negro.Si quisieramos aplicar ese estilo para todo el documento ponemos el selector universal mas el pseudoelemento-> *::selection */
  color: greenyellow;
  background-color: black;
}

.input-pseudoelementos::placeholder { /*a la clase esa, le cambiamos el color de letra de la placeholder  */
  color: green;
}

/* Agrupar Selectores */ /*para agrupar los estilos(o sea para que los inputs y el textarea tengan los mismos estilos) tengo que poner los selectores separados por una coma y al ultimo selector ponerle la llave  */
.form-agrupar-selectores input[type="text"], /*estos eslitos se van aplicar para el input de tipo texto y, */
.form-agrupar-selectores input[type="email"], /*estos estilos se van aplicar para el input de tipo email y,  */
.form-agrupar-selectores textarea { /*estos estilos se van aplicar para el textarea  */
  border-color: yellow;
  border-width: 2px; /*con esta propiedad hacemos que el grosor del borde sea el mismo(ya que los navegadores por defecto le dan ciertos estilos a los elementos, por lo que el grosor del borde no es el mismo)  */
  border-style: dashed; /*el estilo del borde  */
  background-color: black;
  font-size: 20px;
  display: block; /*hacemos que el input de tipo texto y de email, y el textarea sean elementos de tipo BLOQUE(en vez de linea) asi se acomodan uno abajo del otro.Cada uno de los inputs ocuparia una linea asi lograriamos que cada uno de los inputs este en una linea diferente(uno abajo del otro)*/
  width: 300px; /*con esta propiedad decimos que los tres tengan el mismo ancho  */
}

/* 
El Algoritmo de CSS: Es la forma en que el navegador aplica los estilos al documento HTML. Es vital entender este concepto para que entiendas como se aplican y en algunas ocasiones se sobreescriben las reglas CSS.
  1) La Cascada.
  2) La Especificidad.
  3) La Herencia.

La Cascada es el mecanismo en que el navegador aplica los estilos. Y toma en cuenta lo siguiente en este orden:
  1) El Origen del Código:
    - El User Agent (los estilos por defecto del navegador)
    - Personalizaciones del usuario.
    - Los estilos del autor.
  2) La Especificidad del Selector
  3) Orden de Aparición

  El ejemplo que da es el de h1, muestra que atraves de inspeccionar elementos podemos ver que estilos se aplican y cuales no. Por ej tenemos estilos para h1 en la pagina de html, en la pagina de style.css y en la pagina de otra-hoja.css. Y en esa parte te muestra como se van definiendo los estilos.
  En este caso el navegador va leyendo linea por linea, entonces en el archivo html tengo primero el link para ir al archivo style.css, luego en ese archivo tengo el import como primera instruccion que me dirige hacia otra-hoja.css. Finalmente el navegador le aplica a H1 los estilos que hay en otra-hoja.css y descarta los demas.Luego va al archivo style.css, que tiene el color de la letra orangered que esta en la linea 15, pero luego de eso en el archivo html en la linea 11 esta el color de la letra yellowgreen, por ese motivo se sobrescribe el color de style.css. Finalmente escribimos otro estilo, otro colo de letra en la linea de h1 el cual ponemos de color de letra lightskyblue y ese sobrescribe a los otros dos, por el cual ese color de letra queda definida para h1.

La Especificidad es el peso que tiene un selector cuando hay conflicto de estilos. Se calcula de la siguiente forma:
  Etiquetas y pseudoelementos -------------- 0,0,0,1 (si el selector tiene etiquetas y pseudoelementos se suman en el ultimo digito, por ejemplo si tiene dos etiquetas seria  0,0,0,2)
  Clases, atributos y pseudoclases ------------0,0,1,0
  Identificadores -------------------------------0,1,0,0
  Estilos en línea--------------------------------1,0,0,0
  !important ------------------Rompe la especificidad
Podemos evitar que tengan un grado de especificidad, podemos usar una clase y si tenemos que modificar algo dentro de esa clase vamos aplicando los estilos segun hemos estado viendo.

La Herencia, es la capacidad de un selector de obtener (heredar) los valores de sus ancestros más cercanos, para aplicarla se usa el valor inherit, si queremos evitarla podemos asignar otro valor o inicializar la propiedad en cuestión con el valor initial.

https://web.dev/learn/css/inheritance/#which-properties-are-inheritable
*/

blockquote#cita-marco.cita-marco {
  background-color: lightsteelblue;
}

blockquote {
  background-color: burlywood;
}

#cita-marco {
  background-color: lightgreen;
}

blockquote.cita-marco {
  background-color: tomato;
}

.cita-marco {
  background-color: cornflowerblue;
}

.cita-marco {
  background-color: mediumaquamarine !important;
}

blockquote#cita-marco {
  background-color: lightsalmon;
}

.cita-marco {
  background-color: moccasin !important;
  background-color: darkorange !important;
  font-size: 32px;
  border-style: dotted;
  border-color: red;
}

.cita-marco cite {
  background-color: pink;
  background-color: inherit;/* hereda la herencia del anterior(o sea el background color va a ser darkorange) */
  font-size: 24px;
  font-size: initial; /*seria el valor inicial */
  border-style: inherit;
  border-color: inherit;
}
/* Los estilos dependen de la cascada y la especificidad, por ejemplo si le ponemos un color de fondo a blockquote con el selector de etiqueta, ese valdria 1, pero si ponemos en la clase cita-marco vale 10, pero si lo ponemos en la etiqueta blockquote que tenga la clase cita-marco vale 11(10 la clase y 1 la etiqueta), si lo ponemos en el id cita-marco vale 100, pero si ponemos la etiqueta blockquote que tenga el id cita-marco vale 101.Ahora si le ponemos la etiqueta blockquote que tenga el id cita-marco y que ademas tenga la clase cita-marco ese va valer 111(100 el id, 10 la clase y 1 la etiqueta).Ahora si le ponemos el estilo en linea, le ponemos tambien el color de fondo, el estilo en linea valdria 1000, por lo tanto no importa en que orden pongamos los estilos(no importa la cascada) sino que lo que mas importa es el peso del selectory y si hay dos estilos para la misma etiqueta ahi si tiene importancia la cascada(por ejemplo que pongamos dos selectores de etiqueta p y le pongamos a las dos distintos colores, ahi si tiene importancia la cascada). Hay una manera(que se considera mala practica) que es con la palabra important. Esta palabra rompe con la especificidad y con la cascada. Si tenemos dos important como en el ejemplo anterior, ahi va aplicar la cascada, va a ganar el important que fue definido al final(preescribe a los otros)*/
/* 
https://autoprefixer.github.io/
https://caniuse.com/

Prefijos de los navegadores
-webkit-user-select: none; esta propiedad no funciona bien todavia por lo  tanto esta original que es user-select
-moz-user-select: none;
-ms-user-select: none;
user-select: none; es la original de webkit
*/
